.a{
    text-align: center;
    /* width: 1000px; */
    /* height: 700px; */
    /* border: 1px solid #000; */
    padding: 10px;
    /* margin: 10px; */
}
.sub-1, .sub-2,.sub-3,.sub-4,.sub-5,.sub-6,.sub-7,.sub-8{
    width: 330px;
    /* height: 300px; */
    margin: 5px;

    /* border: 1px solid #000; */
    display: inline-block;
    position: relative;
    
    
}
img{
    width: 100%;
}
p{
    background-color: black;
    width: 120px;
    height: 25px;
    text-align: center;
    padding: 10px;
    color: white;
    margin: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
}